# Ignorar arquivos e diretórios comuns
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
.bundle
vendor/bundle
log/*
tmp/*
db/*.sqlite3
public/system/*
coverage
spec/tmp/*
**/*.orig
rerun.txt
pickle-email-*.html

# Ignorar arquivos de configuração e metadados
.vscode
config/database.yml
public/uploads/*
.DS_Store

# Ignorar arquivos específicos do Fly.io
fly.toml