@import bootstrap-sprockets
@import bootstrap
@import bootstrap-datetimepicker
@import font-awesome-sprockets
@import font-awesome
@import app
@import icon
@import nestable
@import chosen
@import bootstrap_calendar
@import toastr
@import jquery.plupload.queue
@import "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"


@import "./home.sass"
@import "./layout.sass"
@import "./login.sass"


.pagination 
    li > a
        color: black

.pagination > .active > .active
    background-color: #17a700
    border-color: #17a700

.olhoPhone 
    cursor: pointer
.olhoCpf
    cursor: pointer
.olhoEmail
    cursor: pointer

.button-search-member
    display: flex
    justify-content: center
    align-items: center
    gap: 10px
    margin-top: 10px

.search-lotteries-container
    display: flex
    align-items: end
    gap: 20px
    flex-wrap: wrap
    justify-content: center